@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Lato:wght@300;400&family=Poppins:wght@300;400&display=swap");

/* Custom Colors */
.bg-primary {
  background-color: #ff5e14; /* Orange */
}

.text-primary {
  color: #ff5e14; /* Orange */
}

.bg-secondary {
  background-color: #1e1e1e; /* Dark gray */
}

.text-secondary {
  color: #1e1e1e; /* Dark gray */
}

.bg-background {
  background-color: #f8f9fa; /* Light gray */
}

/* Custom Fonts */
body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}
